APP_DIR="/var/www/app"
SYMBLINK_DEPLOYMENT="true"

# GIT_PULL="true"
GIT_BRANCH="main"

FRAMEWORK="laravel"
MIGRATE="true"
OPTIMIZE="true"
RUN_NPM="true"
NPM_COMMAND="build"

# DOWN_APP="true"
# BRING_APP_UP_ON_FAILURE="false"

SYMBLINK_DEPLOYMENT_GIT_PATH="git@github.com:user/app.git"