APP_DIR="/var/www/app"
SYMBLINK_DEPLOYMENT="false"

GIT_PULL="true"
GIT_BRANCH="main"

FRAMEWORK="laravel"
MIGRATE="true"
OPTIMIZE="true"
RUN_NPM="false"

DOWN_APP="true"
# NPM_COMMAND="build"

# SYMBLINK_DEPLOYMENT_GIT_PATH="git@github.com:user/app.git"