APP_DIR="/var/www/app"
SYMLINK_DEPLOYMENT="true"

# GIT_PULL="true"
GIT_BRANCH="main"

FRAMEWORK="laravel"
MIGRATE="true"
OPTIMIZE="true"
RUN_NPM="true"
NPM_COMMAND="build"
LOG="true"
LOG_FILE="/var/www/app/logs/deploykit.log"

# DOWN_APP="true"
# BRING_APP_UP_ON_FAILURE="false"

SYMLINK_DEPLOYMENT_GIT_PATH="git@github.com:user/app.git"
AUTO_CLEANUP="true"
KEEP_RELEASES="10"

# Webhook configuration
WEBHOOK_PORT=8080
WEBHOOK_SECRET="your_webhook_secret"
WEBHOOK_PROVIDER="github"
LOG_WEBHOOK="false"
WEBHOOK_LOG_FILE="/var/www/app/logs/webhook_listener.log"
GITHUB_REPORTING="true"
GITHUB_TOKEN="your_github_token"
GITHUB_REPO_OWNER="user"
GITHUB_REPO_NAME="app"